@page "/incomeorexpense"

@using ReconciliationApp.Web.Data
@using ReconciliationApp.Service.IncomeOrExpenses.Dtos

@inject IncomeOrExpenseService IncomeOrExpenseService

<h4>Incomes / Expenses</h4>

<p>All incomes and expenses.</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.Amount</td>
                    <td>@item?.IncomeOrExpenseType?.DisplayName</td>
                    <td>@item?.IncomeOrExpenseType?.FlagDisplayText</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IncomeOrExpenseListDto[] items;

    protected override async Task OnInitializedAsync()
    {
        items = await IncomeOrExpenseService.GetListAsync();
    }
}
