@page "/reconciliation"

@using ReconciliationApp.Web.Data
@using ReconciliationApp.Service.Reconciliations.Dtos

@inject ReconciliationService ReconciliationService

    <h4>Reconciliations</h4>

    <p>All reconciliations.</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.Amount</td>
                    <td>@item?.IncomeOrExpenseType?.DisplayName</td>
                    <td>@item?.IncomeOrExpenseType?.FlagDisplayText</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ReconciliationListDto[] items;

    protected override async Task OnInitializedAsync()
    {
        items = await ReconciliationService.GetListAsync();
    }
}
